.slider {
  overflow: hidden;
  position: relative;
  color: var(--bgc-color);
  margin-top: 130px;
  height: 100%;
  width: 100%;

  & .slide-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;

    & .slide {
      display: block;
      flex: 1 0 100%;
      position: relative;

      & .slide-image {
        display: block;
        margin: 0 auto;
        width: auto;
        height: auto;
        object-fit: contain;
      }

      & .slide-title {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  /* DOTS */

  & .dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;

    & .dot {
      background-color: #e7e7e7;
      border-radius: 5px;
      height: 10px;
      margin: 5px;
      width: 10px;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background-color: green;
      }
    }
  }
  & .arrows {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 38%;
    width: 100%;
    z-index: 1;

    & .arrow {
      height: 30px;
      width: 30px;

      &:hover {
        cursor: pointer;
      }

      &.left {
        background-image: url(../../../../public/assets/icons/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 45px;
        transform: rotate(180deg);
      }

      &.right {
        background-image: url(../../../../public/assets/icons/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 45px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    & .slide {
      width: 400px;
      height: 450px;
    }
  }
}
@media screen and (max-width: 765px) {
  .slider {
    & .dots {
      padding: 0;
      margin: -40px;
    }
  }
}
@media screen and (max-width: 575px) {
  .slider {
    & .arrows {
      top: 70%;
      font-size: 24px;
      & .arrow {
        height: 24px;
        width: 24px;
      }
    }
    & .dots {
      margin: -40px;
    }
  }
}
@media screen and (max-width: 450px) {
  .slider {
    & .arrows {
      top: 65%;
      font-size: 22px;
      & .arrow {
        height: 22px;
        width: 22px;
      }
    }
    & .dots {
      margin: -140px;
    }
  }
}
